streamlit
requests
numpy
tensorflow==2.9
tensorflow_addons
matplotlib
scikit-image
scipy
pillow
streamlit-lottie
streamlit-option-menu
opencv-python
protobuf==3.20
pyhdust==1.3.26
scikit-learn
altair
seaborn
